// colors
// neutral colors
$neutral-500: #dcdcdc;
$neutral-800: #1c242b;
$neutral-900: #14191e;
// shades
$shades-00: #ffffff;

// accents
$accent-00: #00f0c8;

$accent-100: #ff8d90;
$accent-200:#00f0c87c; 
$accent-300:#59ffe3;
// mathieu 


// changing colors
$text-color-a: var(--text-color-a);
$text-color-b: var(--text-color-b);
$bg-color: var(--bg-color);
$bg-color-nav: var(--bg-color-nav);
$bg-color-hov: var(--bg-color-hov);

:root {
	--text-color-a: #1c242b;
	--text-color-b: #14191e;
	--bg-color: #ffffff;
	--bg-color-nav: #f2f3f3;
	--bg-color-hov: #dcdcdc;
}
