@use '../settings/colors.scss' as color;
@use '../tools/tools.breakpoints' as bp;

.c-detailuser{
    grid-area: 'content';
    width: calc(100vw - 400px);
    
    &__titel{
        font-size: 48px;
        color: color.$accent-00;
    }

    &__tabs {
        display: flex;
        justify-content: space-around;
        list-style-type: none;
        margin: 0;
        width: 25vh;
        padding: 0;
        border-bottom: 1px solid black;
    }
    &__tab {
        cursor: pointer;
        padding: 10px;
        &--active {
            background-color: color.$accent-00;
            cursor: pointer;
        }
    }
    
    &__tabcontent {
        margin-left: 20px;
        margin-right: 20px;
        width: 50%;
    }
    .active[data-tab-content] {
        display: block;
      }
     

    [data-tab-content] {
     display: none;

    }
    &__contactcontainer{
        display: flex;
    }
    &__tabs{
        margin-left: 1.2rem;
    }
    &__contactsvg{
        margin-right: 1rem;
        margin-top: 0.5rem;
    }
    &__gebruikerkolomcontainer::after{
        content: "";
        display: table;
        clear: both;
        width: 100%;
    }
    &__gobacktext{
        width: 5%;
        background-color: color.$accent-00;
    }

    &__input{
        width: 100%;
        border: none;
        background-color:color.$neutral-900 ;
        border: 2px solid color.$accent-00;
        justify-content: center;
        box-shadow: none;
        color: color.$text-color-a;
        margin-top: 0.5rem;
        &:active{
            box-shadow: none;
            border: 2px solid color.$accent-00;
        }
        
        &:focus{
            box-shadow: none;
            border: 2px solid color.$accent-00;
        }
        &::placeholder{
            color: color.$text-color-a;
            box-shadow: none;
        }
        &:disabled{
            border: 2px solid color.$accent-200;
            color: grey;
        }
        
    }

    &__gebruikerkolom{
        float: left;
        width: 25%;
        margin-right: 2rem;

    }
    &__gebruikerkolomlast{
        float: left;
        width: 15%;
    }
    &__buttonscontainer{
        display: flex;
    }
    &__editbuttoncontainer{
        
        display: flex;      
        cursor: pointer;
    }
    &__editbuttonsvg{
        margin-top: 1rem;
        margin-right: 1rem;
    }
    &__deletebuttoncontainer{
        display: flex;
        margin-left: 2rem;
        cursor: pointer;
    }
    &__deletebuttonsvg{
        margin-top: 1rem;
        margin-right: 1rem;
    }
    &__button{
        color: color.$shades-00;
    }
    &__contacttitel{
        color: color.$accent-00;
    }
    &__detailform{
        margin-bottom: 2rem;
    }











.tab:hover {
  background-color: #AAA;
}
 
 
}