@use '../settings/colors' as color;

.c-total {
	width: 300px;
	height: 150px;

	border: 1px solid color.$accent-00;
	border-radius: 20px;

	&__title {
		color: color.$shades-00;
	}

	&__icon {
		path {
			fill: color.$accent-00;
		}
	}

	&__count {
		color: color.$accent-00;
	}
}
