@use '../settings/colors' as color;

.c-filters {
  margin-left: 1rem;
  margin-top: 1rem;

  label {
    color: color.$neutral-500;
    margin-right: 1rem;
    margin-left: 1rem;
  }

  &__input {
    border-radius: 10px;
    width: 40%;
  }
}