@use '../settings/colors' as color;
@use '../tools/tools.breakpoints' as bp;

.c-content-filter {
  display: flex;
  padding: 10px;

  &__search {
    margin-left: 1rem;
    margin-bottom: 1rem;
    margin-top: 2rem;
    border-radius: 10px;
    padding-left: 1.5rem;
    background-color: color.$neutral-900;
    border: 2px solid color.$accent-00;
    max-width: 100vh;
    width: 100vh;
    height: 32px;
    justify-content: center;
    box-shadow: none;
    color: color.$text-color-a;

    &:active {
      box-shadow: none;
      border: 2px solid color.$accent-00;
    }

    &:focus {
      box-shadow: none;
      border: 2px solid color.$accent-00;
    }

    &::placeholder {
      color: color.$text-color-a;
      box-shadow: none;
    }
  }

  @include bp.down(ls) {
    flex-wrap: wrap;
    justify-content: center;
    &__search{
      max-width: 80%;
      width: 80%;
    }
  }
}