@use '../settings/colors' as color;
@use '../tools/tools.breakpoints' as bp;

.c-settings {
	height: 100%;
	width: calc(100vw - 400px);

	margin-left: 50px;

	&__container {
		grid-area: 'content';

		margin-top: 50px;
	}
}
