@use '../settings/colors' as color;
@use '../tools/tools.breakpoints' as bp;

.c-createnew {
  display: flex;
  justify-content: center;

  @include bp.up(tl) {
    flex-direction: column;
    margin-left: 3rem;
  }
}

.c-addContent {
  margin-top: 3rem;
  grid-area: content;
  display: grid;
  height: 100%;

  grid-template-columns: 750px 385px 385px;

  grid-template-areas:
		'upload bg_preview pstr_preview'
		'details settings .'
		'details settings .'
		'seasons seasons seasons'
		'. . buttons';

  gap: 20px;

  &__upload {
    grid-area: upload;
  }

  &__details {
    grid-area: details;
    form{
      textarea{
        min-width: 50%;
        max-width: 50%;
        height: 150px;
      }
      input{
        min-width: 50%;
        max-width: 50%;
      }
    }
  }

  &__bg {
    grid-area: bg_preview;
    img{
      max-width: 100%;
    }
  }

  &__poster {
    grid-area: pstr_preview;
    img{
      max-height: 216.56px;
    }
  }

  &__settings {
    grid-area: settings;
  }

  &__seasons{
    grid-area: seasons;
  }

  &__buttons {
    grid-area: buttons;
  }
}

