@use '../settings/colors' as color;
@use '../tools/tools.breakpoints' as bp;

.c-movie-info {
  z-index: 30;
}

.c-background-image {
  background-image: url("https://wmimages.goplay.be/styles/f7331df9e0140370408293ff5186b3cc1ba2ff25/meta/onlinewallpaper3840x2160wintersdream-r3segs.jpg?style=W3sianBlZyI6eyJxdWFsaXR5Ijo5MH19LHsicmVzaXplIjp7ImZpdCI6ImNvdmVyIiwid2lkdGgiOjM4NDAsImhlaWdodCI6MjE2MCwiZ3Jhdml0eSI6bnVsbCwid2l0aG91dEVubGFyZ2VtZW50IjpmYWxzZX19XQ==&sign=308f352a5d07363dd9d00fd6573380d0fbcf93046137b1e4930445124ed37a6e");
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-size: cover;
  background-position: top center;
  height: calc(100% + env(safe-area-inset-top));
}