@use '../settings/colors' as color;

.c-button{
    display: flex;
    background-color: color.$accent-00;
    color: color.$bg-color-nav !important;
    border: none;
    padding:.8125rem 2.1875rem;
    border-radius: 6.25rem;
    width: max-content;
    margin-left: 2.625rem;
    text-decoration: none;
    
}