@use '../settings/colors' as color;
@use '../tools/tools.breakpoints' as bp;

.c-map {
	min-width: 560px;
	height: 320px;

	border: solid 1px color.$accent-00;
	border-radius: 20px;

	position: relative;

	@include bp.down(tl) {
		// max-width: 300px;
		min-width: 300px;
	}

	@include bp.down(ml) {
		height: 400px;
	}

	&__graph {
		width: 400px;
		height: 320px;

		position: absolute;
		top: 0;
		right: 0;

		@include bp.down(tl) {
			bottom: 0;
			left: 0;
			top: auto;

			width: 300px;
			height: 320px;
		}
	}

	&__legend {
		margin-left: 20px;

		color: color.$text-color-a;

		h4 {
			font-size: 1.125rem;
		}
	}

	&__list {
		list-style: none;

		padding: 0;
	}

	&__listitem {
	}
}
