.c-carousel {
  margin-top: 50px;

  &__cell {
    width: 25%;
    height: 200px;
    margin-right: 10px;
    border-radius: 5px;
    counter-increment: gallery-cell;
    background-color: #00f0c8;

    &::before {
      display: block;
      text-align: center;
      content: counter(gallery-cell);
      line-height: 200px;
      font-size: 80px;
      color: white;
    }
  }
}