@use '../settings/colors' as color;

.c-nav {
	grid-area: nav;

	display: flex;
	position: relative;
	transition: 0.3s;

	
}
.c-sidebar {
		width: 18.75rem;
		height: 100%;
		background-color: color.$bg-color-nav;
		padding: 1.875rem 0rem;
		position: fixed;
		transition: 0.3s;

		&__logo {
			padding-left: 5.1875rem;
			padding-right: 5.1875rem;
			margin-left: 2.625rem;
		}

		&__item {
			position: relative;
			padding: 0.9375rem;
			list-style: none;
			border-left: 0.1875rem solid color.$accent-00;

			color: color.$text-color-b;
			display: block;
			text-decoration: none !important;
			text-align: center;

			&.active {
				background-color: color.$bg-color-hov;
				transition: 0.3s;
			}
			a {
				color: color.$text-color-b;
				display: block;
				text-decoration: none;
				text-align: center;
				&::after{
					content: '';
					position: absolute;
					left: 50%;
					bottom: 0rem;
					background-color: color.$accent-00;
					height: .125rem;
					width: 0%;
					transition: 0.3s;
					transform: translateX(-50%);
				}
			}
			&--accent {
				color: color.$accent-100 !important;
			}
			
			&:hover {
				a{
					&::after{
						width: 50%;
					}
				}
			}
		}
		&__button {
			padding: 0.9375rem;
			list-style: none !important;
			border-left: 0.1875rem solid color.$accent-00;
		}

		&__account {
			position: absolute;
			bottom: 6.25rem;
			width: 18.75rem;

			h2 {
				color: color.$text-color-b;
				text-align: center;
				margin-left: 2.625rem;
			}
		}
	}
.c-profile {
	width: 150px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
