@use '../settings/colors' as color;
@use '../tools/tools.breakpoints' as bp;

.c-color {
	&__container {
		margin-top: 50px;
		margin-bottom: 50px;

		display: flex;
		align-content: center;
		justify-content: space-between;
		flex-direction: row;
		flex-wrap: wrap;

		border-radius: 2px;

		outline: 2px color.$accent-00 solid;
		outline-offset: 15px;

		gap: 0 !important;

		@include bp.down(tl) {
			gap: 10px !important;
		}

		&--first {
			margin-top: 20px;
		}
	}

	&__input {
		// width: 100%;
		-webkit-appearance: none;
		border: none;
		width: 32px;
		height: 32px;

		&::-webkit-color-swatch {
			border: none;
			border-radius: 10px;
		}

		&::-webkit-color-swatch-wrapper {
			padding: 0 !important;
			border-radius: 10px;
		}

		&[type='color' i] {
			padding: 1px;
			border-radius: 10px;
			background-color: color.$text-color-a;
		}
	}

	&__value {
		margin: 0;
		margin-top: 6px;
	}

	&__label {
		margin-right: 20px;
	}

	&__bigContainer {
		display: flex;
		justify-content: space-evenly;

		@include bp.down(ml) {
			width: 100%;
			justify-content: start;
		}
	}

	&__wrapper {
		display: flex;
		flex-wrap: wrap;
		gap: 50px;

		min-width: 200px;

		@include bp.down(ml) {
			gap: 10px;
		}

		h2 {
			width: 100%;
		}
	}
}

.c-logo {
	&__wrapper {
		display: flex;
		flex-wrap: wrap;
		gap: 50px;

		@include bp.down(ls) {
			gap: 20px;
		}
	}
}
