@use '../settings/colors' as color;
@use '../tools/tools.breakpoints' as bp;

.c-startscherm{
    height: 100%;
	width: calc(100vw - 400px);

	margin-left: 50px;

	&__container {
		grid-area: 'content';

		margin-top: 50px;
        
	}
    
}
.c-draggable{
    
    border: .0625rem solid;
    border-color: color.$accent-00;
    border-radius: .625rem;
    margin-bottom: 16px;
    cursor: move;
    

}
.c-draggable.dragging{
    opacity: .5;
    
}
.c-selector{
    display: flex;
  

  
    margin-top: 2rem;
    margin-left: 1rem;
   
        background-color: color.$neutral-900;
        border: .125rem solid color.$accent-00;
        border-radius: .625rem;
        justify-content: center;
        box-shadow: none;
        color: color.$text-color-a;
        height: 2rem;
        padding-left: .3125rem;
        padding-right: .3125rem;
      
}