@use '../settings/colors' as color;

$color_1: #fff;
$color_2: inherit;
$color_3: #00f0c8;
$font-family_1: Barlow, -apple-system, blinkmacsystemfont, Segoe UI, roboto, oxygen-sans, ubuntu, cantarell, Helvetica Neue, sans-serif;
$background-color_1: #14191e;
$background-color_2: #0000;

.hero {
  position: relative;
  overflow: hidden;
  width: 100%;
  background-color: $background-color_2;
  color: $color_1;
}

.hero--program {
  display: flex;
  min-height: 133.3333333333vw;

  .hero__info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
}

.hero--video {
  background-color: $background-color_1;

  .hero__bg {
    display: none;
  }

  .hero__info {
    pointer-events: none;
  }
}

.hero__actions {
  display: flex;
  flex-wrap: wrap;
  margin: -5px;

  > * {
    margin: 5px;
  }
}

.hero__bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: top center;

  &:after {
    content: "";
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-image: linear-gradient(180deg, rgba(20, 25, 30, 0) 66%, rgba(20, 25, 30, .5) 75%, #14191e 100%);
  }

  &:before {
    content: "";
    position: absolute;
    inset: 0;
    background-image: linear-gradient(transparent, #14191e);
  }
}

.hero__bg.has-blur {
  -webkit-filter: blur(20px);
  filter: blur(20px);
}

.hero__bg-readable {
  position: absolute;
  top: 0;
  left: 0;
  width: 40%;
  height: 100%;
  opacity: .5;
  background: linear-gradient(90deg, #14191e 0%, rgba(20, 25, 30, 0) 100%);
  z-index: 1;
}

.hero__video {
  transition: background-color .2s ease-in-out;

  .video-container {
    max-width: 980px;
    margin: 0 auto;
  }
}

.hero__container {
  position: relative;
  z-index: 30;
}

.hero__movie-container {
  display: flex;
  flex-direction: column-reverse;
  width: 100%;
}

.hero__poster {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero__title {
  color: $color_1;
  font-size: max(38px, min(3vw, 48px));
  font-weight: 700;
  text-transform: none;
  text-transform: initial;
}

.hero__subtitle {
  margin-top: 5px !important;
  color: $color_3;
  font-size: 18px;
  font-family: $font-family_1;
  font-weight: 700;
}

.hero__unpublish-date {
  margin-top: 30px !important;
}

.hero__description {
  max-width: 70%;
  overflow: hidden;
  font-size: 14px;
  line-height: 20px;
}

.hero__header {
  max-width: 720px;

  > * {
    + {
      * {
        margin-top: 30px;
      }
    }
  }
}

.hero__footer {
  > * {
    + {
      * {
        margin-top: 30px;
      }
    }
  }
}

.hero__info {
  z-index: 30;
  width: 100%;
  height: 100%;
  padding: 15px;

  > * {
    + {
      * {
        margin-top: 30px;
      }
    }
  }
}

.hero__info.is-hidden {
  opacity: 0;
}

.hero__follow-block {
  pointer-events: all;
}

.hero__button {
  pointer-events: all;
}

.hero__child {
  display: none;
}

.hero__playlist {
  margin: 20px 0;

  .flickity-prev-next-button {
    &:after {
      width: 30px;
      height: 30px;
    }

    svg {
      width: 20px;
      height: 20px;
    }
  }
}

.hero-video {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  min-height: 133.3333333333vw;
  height: auto;
  margin-top: calc(-70px + env(safe-area-inset-top) * -1);
  background-position: center;
  background-size: cover;
}

.hero-video__container {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.hero-video__overlay {
  position: absolute;
  inset: 0;
  z-index: 5;
  background-position: center;
  background-size: cover;

  &:before {
    content: "";
    position: absolute;
    inset: 0;
    z-index: 3;
    background: radial-gradient(64.83% 69.89% at 50% 50%, rgba(20, 25, 30, 0) 43.75%, #14191e 100%);
    opacity: .25;
  }

  &:after {
    content: "";
    position: absolute;
    inset: 80% 0 0;
    background: linear-gradient(0, #14191e 0%, rgba(20, 25, 30, 0) 100%);
    z-index: 4;
    opacity: 1;
  }
}

.hero-video__readability {
  position: absolute;
  inset: 0;
  z-index: 5;

  &:before {
    content: "";
    position: absolute;
    inset: -11.8% 33.33% 8.26% 0%;
    background: linear-gradient(90deg, #14191e 8.96%, rgba(20, 25, 30, 0) 100%);
    opacity: .25;
  }
}

.hero-video__player {
  position: absolute;
  inset: 0;
  z-index: 5;
  overflow: hidden;

  .video-js {
    position: absolute;
    inset: 0;
  }

  video {
    object-fit: cover;
  }

  .vjs-paused {
    .vjs-big-play-button {
      display: none !important;
    }

    .play-button {
      display: none !important;
    }
  }

  &:after {
    content: "";
    position: absolute;
    inset: 0 0 -1px;
    background-image: linear-gradient(transparent, #14191e);
    z-index: 4;
  }
}

.hero-video__content {
  position: relative;
  z-index: 10;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
  padding-top: 130px;
  text-align: left;
}

.is-movie {
  .hero-video__content {
    padding-top: 30px;
  }
}

.hero-video__title {
  font-weight: 600;
  font-size: 36px;
}

.hero-video__description {
  font-size: 14px;
  line-height: 1.4;
}

.hero-video__actions {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin: -5px;

  > * {
    margin: 5px;
  }
}

.hero-video__inner {
  max-width: 480px;

  > * {
    + {
      * {
        margin-top: 10px;
      }
    }
  }
}

.l-spacer {
  width: 100%;
  height: 100%;
  padding-left: calc(env(safe-area-inset-left) + 15px);
  padding-right: calc(env(safe-area-inset-right) + 15px);
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 768px) {
  .hero--program {
    min-height: 56.25vw;
    padding-bottom: 18.75vw;
    margin-bottom: -18.75vw;
  }
  .hero__subtitle {
    font-size: 24px;
  }
  .hero__info {
    padding: 15px 30px;
  }
  .hero-video {
    min-height: 56.25vw;
    margin-top: -90px;
    padding-bottom: 18.75vw;
    margin-bottom: -16.375vw;
  }
  .hero-video__content {
    padding-top: max(185px, 16vw);
  }
  .hero-video__title {
    font-size: 44px;
  }
  .l-spacer {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (min-width: 576px) {
  .hero__bg {
    background-position: top right;
  }
}

@media (min-width: 992px) {
  .hero__video {
    top: 0;
    -webkit-transform: none;
    transform: none;
  }
  .hero__movie-container {
    flex-direction: row;
  }
  .hero__title {
    font-size: 64px;
  }
  .hero__info {
    padding: 45px 60px;
  }
  .hero--video {
    .hero__info {
      position: absolute;
      top: 0;
      left: 0;
    }
  }
  .hero__child {
    display: block;
  }
}

@media screen and (max-width: 1199px) and (orientation: landscape) {
  .is-app {
    .hero__video {
      .video-container {
        max-width: 160vh !important;
        max-height: 90vh !important;
      }
    }
  }
}

@media (max-width: 991px) {
  .hero-video__controls {
    position: absolute;
    right: 30px;
    bottom: 0;
  }
}

@media (max-width: 767px) {
  .hero-video__controls {
    right: 5px;
  }
}

@media (min-width: 1200px) {
  .hero-video__title {
    font-size: 60px;
  }
}

// Modal
.modaloverlay {
  display: block;
  opacity: 1;
  pointer-events: auto;
  z-index: 99999;
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  -webkit-transition: opacity 400ms ease-in;
  -moz-transition: opacity 400ms ease-in;
  transition: opacity 400ms ease-in;
}

.modal {
  background-color: color.$neutral-900;
  height: 100%;
  position: relative;
  margin: 0 auto;
  padding: 3em;
  @media (min-width: 60em) {
    border-radius: 2.75rem;
    height: 75%;
    margin: 5% auto;
    max-height: 57em;
    max-width: 66em;
    width: 85%;
  }
}