.o-content {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(5, 250px);
  align-items: center;

  @media only screen and (max-width: 768px) {
    grid-template-columns: repeat(3, 250px);
  }

  @media only screen and (max-width: 425px) {
    grid-template-columns: repeat(2, 250px);
  }

  @media only screen and (max-width: 375px) {
    grid-template-columns: repeat(1, 250px);
    padding-left: 30px;
  }
}