.o-content {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(6, 250px);

  img {
    max-width: 250px;
  }

  @media only screen and (max-width: 768px){
    grid-template-columns: repeat(3, 250px);

    img{
      max-width: 200px;
    }
  }

  @media only screen and (max-width: 425px){
    grid-template-columns: repeat(2, 250px);
  }

  @media only screen and (max-width: 375px){
    grid-template-columns: repeat(1, 250px);
  }
}